{% extends "base.html" %}

{% block title %}Create a new page{% endblock title %}
{% block content %}


<form method="POST" class="form-inline">
    <div class="mx-auto">
        <div class="md-form mt-5">
            {{ form.hidden_tag() }}
            {{ input(form.url, placeholder="Page Title", autocomplete="off") }}
        </div>

        <div class="text-center mt-4 mb-4">
            <button class="submit_button btn btn-default btn-block btn-rounded wow fadIn waves-effect waves-light animated" type="submit" value="Create" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">Create</button>
        </div>
    </div>
</form>

{% endblock content %}

